/data
/.idea
/db
/.git
/lite
/node-modules
/server
/.babelrc
/.dockerignore
/.gitignore
/deploy.sh
/docker-compose.yml
/Dockerfile
/LICENSE
/mern.yaml
/package-lock.json

/client/node_modules
/client/public
/client/src
/client/.gitignore
/client/package.json
/client/package-lock.json